
body {
  font-family: 'Libre Franklin','-apple-system','BlinkMacSystemFont','Roboto','Droid Sans',Helvetica,Arial,sans-serif;
}

h2 {
  padding-left: 0;
  width: 100%;
  word-spacing: .125rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 1rem;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 2rem;
}

li {
  list-style-type: none;
  white-space: nowrap;
}

.rowTitle {

  font: inherit;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  word-spacing: .125rem;
  padding-left: 5.5rem;
}

.container {
  display: flex;
  font-family: 'Libre Franklin';
  align-items: flex-start;
  justify-content: stretch;
  border-top: none;
  border-bottom: none;
  flex-direction: row;
  align-content: center;
  margin: 15px 15px;
}

.itemOne {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Libre Franklin';
  vertical-align: baseline;
  justify-content: stretch;
  max-width: 350px;
  vertical-align: top;
  text-align: left;
  width: 728px;
  align-content: center;
  justify-content: flex-start;
  min-height: 64px;
  padding: 10px 10px 10px 10px;

}



.itemTwo {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  align-content: center;
  min-height: 64px;
  justify-content: space-between;
  justify-items: stretch;
  flex-direction: row;
  margin: 0 30px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: left;
  font-family: 'Libre Franklin';

}

.itemThree {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  align-content: center;
  font-family: 'Libre Franklin';
}

.ratingIcon {
  margin: 0 10px 0 10px;
}

.lightGrey {
  color: #767676;
  display: block;
  padding-top: 4px;
  line-height: 18px;
  font-size: .875rem;
  font-family: 'Libre Franklin';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.black {
  line-height: 24px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Libre Franklin';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.reviewText {
  padding-top: 4px;
  line-height: 18px;
  color: #1080a2;
  cursor: pointer;
  font-size: .75rem;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}